<!DOCTYPE html>
<html>
  <head>
    <title>Taxzilla</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
        <% if Rails.env.development? %>
        <script src="http://localhost:3808/webpack-dev-server.js"></script>
      <% end %>
</head>

  <body>
    <nav>
      <% if current_user %>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
    <%= yield %>
  <%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
